.form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  min-width: 400px;
  padding: 40px;
  border-radius: 20px;
  width: 100%;
  background: #FFF;

  .input__form {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 20px;
  }
  .submit__form {
    width: fit-content;
    margin: 20px auto 0;
    padding: 16px 32px;
    background-color: #009688;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    border-radius: 50px;
    width: 180px;
    max-width: 100%;
    transition: .3s ease-in-out;
    
    &:disabled {
      background-color: #bdbdbd;
      cursor: not-allowed;
    }
  }
}